<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="MyConnectionString"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;E:\Tai Lieu Hoc Tap\CS 464 A\doannop\Cafebook\Cafebook\CafebookDB.mdf&quot;;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="StoreAddress" value="123 Nguyễn Văn Linh, Đà Nẵng"/>
		<add key="StorePhoneNumber" value="0123.456.789"/>
	</appSettings>
</configuration>
