USE [master]
GO
/****** Object:  Database [E:\TAI LIEU HOC TAP\CS 464 A\DOANNOP\CAFEBOOK\CAFEBOOK\CAFEBOOKDB.MDF]    Script Date: 27/09/2025 2:16:28 CH ******/
CREATE DATABASE [E:\TAI LIEU HOC TAP\CS 464 A\DOANNOP\CAFEBOOK\CAFEBOOK\CAFEBOOKDB.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CafebookDB', FILENAME = N'E:\Tai Lieu Hoc Tap\CS 464 A\doannop\Cafebook\Cafebook\CafebookDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CafebookDB_log', FILENAME = N'E:\Tai Lieu Hoc Tap\CS 464 A\doannop\Cafebook\Cafebook\CafebookDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [E:\TAI LIEU HOC TAP\CS 464 A\DOANNOP\CAFEBOOK\CAFEBOOK\CAFEBOOKDB.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [E:\TAI LIEU HOC TAP\CS 464 A\DOANNOP\CAFEBOOK\CAFEBOOK\CAFEBOOKDB.MDF]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[idBan] [int] IDENTITY(1,1) NOT NULL,
	[soBan] [nvarchar](50) NOT NULL,
	[soGhe] [int] NOT NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[ghiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangChamCong]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangChamCong](
	[idChamCong] [int] IDENTITY(1,1) NOT NULL,
	[idLichLamViec] [int] NOT NULL,
	[gioVao] [datetime2](7) NULL,
	[gioRa] [datetime2](7) NULL,
	[soGioLam] [decimal](4, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaiDat]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaiDat](
	[tenCaiDat] [varchar](50) NOT NULL,
	[giaTri] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tenCaiDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[idCa] [int] IDENTITY(1,1) NOT NULL,
	[tenCa] [nvarchar](50) NOT NULL,
	[gioBatDau] [time](7) NOT NULL,
	[gioKetThuc] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[idHoaDon] [int] NOT NULL,
	[idSanPham] [int] NOT NULL,
	[soLuong] [int] NOT NULL,
	[donGiaLucBan] [decimal](18, 2) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idHoaDon] ASC,
	[idSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[idPhieuNhap] [int] NOT NULL,
	[idNguyenLieu] [int] NOT NULL,
	[soLuong] [decimal](18, 3) NOT NULL,
	[donGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhieuNhap] ASC,
	[idNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietThuongPhat]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietThuongPhat](
	[idChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[idQuyTac] [int] NOT NULL,
	[ngayApDung] [date] NOT NULL,
	[ghiChu] [nvarchar](255) NULL,
	[soTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongThuc]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongThuc](
	[idSanPham] [int] NOT NULL,
	[idNguyenLieu] [int] NOT NULL,
	[luongCanThiet] [decimal](18, 3) NOT NULL,
	[donViTinhSuDung] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSanPham] ASC,
	[idNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[idHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[idKhachHang] [int] NULL,
	[idNhanVien] [int] NOT NULL,
	[idBan] [int] NOT NULL,
	[idKhuyenMai] [int] NULL,
	[thoiGianTao] [datetime2](7) NOT NULL,
	[tongTien] [decimal](18, 2) NOT NULL,
	[soTienGiam] [decimal](18, 2) NOT NULL,
	[thanhTien] [decimal](18, 2) NOT NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[thoiGianThanhToan] [datetime2](7) NULL,
	[phuongThucThanhToan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonDauVao]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonDauVao](
	[idHoaDonNhap] [int] IDENTITY(1,1) NOT NULL,
	[idPhieuNhap] [int] NOT NULL,
	[maHoaDon] [nvarchar](50) NULL,
	[ngayPhatHanh] [date] NULL,
	[duongDanFile] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idHoaDonNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[idKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[soDienThoai] [varchar](15) NULL,
	[ngayTao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[idKhuyenMai] [int] IDENTITY(1,1) NOT NULL,
	[tenKhuyenMai] [nvarchar](150) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[loaiGiamGia] [varchar](20) NOT NULL,
	[giaTriGiam] [decimal](18, 2) NOT NULL,
	[ngayBatDau] [datetime2](7) NOT NULL,
	[ngayKetThuc] [datetime2](7) NOT NULL,
	[giaTriDonHangToiThieu] [decimal](18, 2) NULL,
	[idSanPhamApDung] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichLamViec]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichLamViec](
	[idLichLamViec] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[idCa] [int] NULL,
	[ngayLam] [date] NOT NULL,
	[gioBatDau] [time](7) NULL,
	[gioKetThuc] [time](7) NULL,
	[trangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idLichLamViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[idLoaiSP] [int] IDENTITY(1,1) NOT NULL,
	[tenLoaiSP] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenLieu]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenLieu](
	[idNguyenLieu] [int] IDENTITY(1,1) NOT NULL,
	[tenNguyenLieu] [nvarchar](100) NOT NULL,
	[donViTinh] [nvarchar](20) NOT NULL,
	[soLuongTon] [decimal](18, 3) NOT NULL,
	[nguongCanhBao] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idNguyenLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[idNhaCungCap] [int] IDENTITY(1,1) NOT NULL,
	[tenNhaCungCap] [nvarchar](150) NOT NULL,
	[soDienThoai] [varchar](15) NULL,
	[diaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[idNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[idVaiTro] [int] NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[soDienThoai] [varchar](15) NULL,
	[email] [varchar](100) NULL,
	[diaChi] [nvarchar](255) NULL,
	[matKhau] [nvarchar](255) NOT NULL,
	[ngayVaoLam] [date] NOT NULL,
	[trangThai] [bit] NOT NULL,
	[mucLuongTheoGio] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatBan]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatBan](
	[idPhieuDatBan] [int] IDENTITY(1,1) NOT NULL,
	[idKhachHang] [int] NULL,
	[tenKhachVangLai] [nvarchar](100) NULL,
	[sdtKhachVangLai] [varchar](15) NULL,
	[idBan] [int] NULL,
	[thoiGianDat] [datetime2](7) NOT NULL,
	[soLuongKhach] [int] NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
	[trangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhieuDatBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuLuong]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuLuong](
	[idPhieuLuong] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[tuNgay] [date] NOT NULL,
	[denNgay] [date] NOT NULL,
	[tongGioLam] [decimal](18, 2) NOT NULL,
	[luongCoBan] [decimal](18, 2) NOT NULL,
	[tongThuong] [decimal](18, 2) NOT NULL,
	[tongPhat] [decimal](18, 2) NOT NULL,
	[thucLanh] [decimal](18, 2) NOT NULL,
	[ngayTinhLuong] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhieuLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapKho]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapKho](
	[idPhieuNhap] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[idNhaCungCap] [int] NOT NULL,
	[ngayNhap] [datetime2](7) NOT NULL,
	[tongTien] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThueSach]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThueSach](
	[idPhieuThue] [int] IDENTITY(1,1) NOT NULL,
	[idSach] [int] NOT NULL,
	[idKhachHang] [int] NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[ngayThue] [datetime2](7) NOT NULL,
	[ngayHenTra] [datetime2](7) NOT NULL,
	[ngayTraThucTe] [datetime2](7) NULL,
	[tienPhat] [decimal](18, 2) NOT NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[phiThue] [decimal](18, 2) NOT NULL,
	[tienCoc] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPhieuThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyTacLuong]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyTacLuong](
	[idQuyTac] [int] IDENTITY(1,1) NOT NULL,
	[tenQuyTac] [nvarchar](100) NOT NULL,
	[loai] [nvarchar](20) NOT NULL,
	[loaiQuyTac] [varchar](50) NOT NULL,
	[dieuKien] [decimal](18, 2) NULL,
	[giaTriApDung] [decimal](18, 2) NOT NULL,
	[donViTinh] [varchar](20) NOT NULL,
	[dieuKienDonViTinh] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idQuyTac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[idSach] [int] IDENTITY(1,1) NOT NULL,
	[tieuDe] [nvarchar](255) NOT NULL,
	[tacGia] [nvarchar](150) NULL,
	[theLoai] [nvarchar](100) NULL,
	[moTa] [nvarchar](max) NULL,
	[tongSoLuong] [int] NOT NULL,
	[soLuongCoSan] [int] NOT NULL,
	[viTri] [nvarchar](100) NULL,
	[giaBia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[idSanPham] [int] IDENTITY(1,1) NOT NULL,
	[idLoaiSP] [int] NOT NULL,
	[tenSanPham] [nvarchar](150) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[donGia] [decimal](18, 2) NOT NULL,
	[hinhAnh] [nvarchar](255) NULL,
	[trangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[idThongBao] [int] IDENTITY(1,1) NOT NULL,
	[idNhanVien] [int] NOT NULL,
	[noiDung] [nvarchar](500) NOT NULL,
	[thoiGianTao] [datetime2](7) NOT NULL,
	[daDoc] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idThongBao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 27/09/2025 2:16:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[idVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[tenVaiTro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ban] ON 

INSERT [dbo].[Ban] ([idBan], [soBan], [soGhe], [trangThai], [ghiChu]) VALUES (1, N'A1', 2, N'Trống', N'Gần cửa sổ')
INSERT [dbo].[Ban] ([idBan], [soBan], [soGhe], [trangThai], [ghiChu]) VALUES (2, N'A2', 4, N'Trống', NULL)
INSERT [dbo].[Ban] ([idBan], [soBan], [soGhe], [trangThai], [ghiChu]) VALUES (3, N'A3', 4, N'Trống', N'Trong góc')
SET IDENTITY_INSERT [dbo].[Ban] OFF
GO
SET IDENTITY_INSERT [dbo].[BangChamCong] ON 

INSERT [dbo].[BangChamCong] ([idChamCong], [idLichLamViec], [gioVao], [gioRa], [soGioLam]) VALUES (1, 2, CAST(N'2025-09-16T15:15:00.0000000' AS DateTime2), CAST(N'2025-09-16T23:00:00.0000000' AS DateTime2), CAST(7.75 AS Decimal(4, 2)))
INSERT [dbo].[BangChamCong] ([idChamCong], [idLichLamViec], [gioVao], [gioRa], [soGioLam]) VALUES (2, 3, CAST(N'2025-09-16T15:00:00.0000000' AS DateTime2), CAST(N'2025-09-16T22:30:00.0000000' AS DateTime2), CAST(7.50 AS Decimal(4, 2)))
INSERT [dbo].[BangChamCong] ([idChamCong], [idLichLamViec], [gioVao], [gioRa], [soGioLam]) VALUES (3, 5, CAST(N'2025-09-17T06:58:00.0000000' AS DateTime2), CAST(N'2025-09-17T15:30:00.0000000' AS DateTime2), CAST(8.53 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[BangChamCong] OFF
GO
INSERT [dbo].[CaiDat] ([tenCaiDat], [giaTri]) VALUES (N'PhiPhatTreHan', N'10000')
INSERT [dbo].[CaiDat] ([tenCaiDat], [giaTri]) VALUES (N'PhiThueSach', N'25000')
INSERT [dbo].[CaiDat] ([tenCaiDat], [giaTri]) VALUES (N'StoreAddress', N'08 Hà Văn tín')
GO
SET IDENTITY_INSERT [dbo].[CaLamViec] ON 

INSERT [dbo].[CaLamViec] ([idCa], [tenCa], [gioBatDau], [gioKetThuc]) VALUES (1, N'Ca Sáng', CAST(N'07:00:00' AS Time), CAST(N'15:00:00' AS Time))
INSERT [dbo].[CaLamViec] ([idCa], [tenCa], [gioBatDau], [gioKetThuc]) VALUES (2, N'Ca Chiều', CAST(N'15:00:00' AS Time), CAST(N'23:00:00' AS Time))
INSERT [dbo].[CaLamViec] ([idCa], [tenCa], [gioBatDau], [gioKetThuc]) VALUES (3, N'Ca Tối', CAST(N'18:00:00' AS Time), CAST(N'23:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[CaLamViec] OFF
GO
INSERT [dbo].[ChiTietHoaDon] ([idHoaDon], [idSanPham], [soLuong], [donGiaLucBan], [GhiChu]) VALUES (1, 1, 1, CAST(25000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietHoaDon] ([idHoaDon], [idSanPham], [soLuong], [donGiaLucBan], [GhiChu]) VALUES (1, 2, 1, CAST(30000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietHoaDon] ([idHoaDon], [idSanPham], [soLuong], [donGiaLucBan], [GhiChu]) VALUES (1, 4, 1, CAST(35000.00 AS Decimal(18, 2)), NULL)
GO
INSERT [dbo].[ChiTietPhieuNhap] ([idPhieuNhap], [idNguyenLieu], [soLuong], [donGia]) VALUES (1, 1, CAST(50.000 AS Decimal(18, 3)), CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([idPhieuNhap], [idNguyenLieu], [soLuong], [donGia]) VALUES (2, 2, CAST(50.000 AS Decimal(18, 3)), CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([idPhieuNhap], [idNguyenLieu], [soLuong], [donGia]) VALUES (3, 3, CAST(20.000 AS Decimal(18, 3)), CAST(10000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[ChiTietThuongPhat] ON 

INSERT [dbo].[ChiTietThuongPhat] ([idChiTiet], [idNhanVien], [idQuyTac], [ngayApDung], [ghiChu], [soTien]) VALUES (15, 2, 16, CAST(N'2025-09-21' AS Date), N'phạt vỡ ly', CAST(-200000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietThuongPhat] ([idChiTiet], [idNhanVien], [idQuyTac], [ngayApDung], [ghiChu], [soTien]) VALUES (16, 2, 16, CAST(N'2025-09-21' AS Date), N'thưởng tết', CAST(500000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietThuongPhat] OFF
GO
INSERT [dbo].[CongThuc] ([idSanPham], [idNguyenLieu], [luongCanThiet], [donViTinhSuDung]) VALUES (1, 1, CAST(20.000 AS Decimal(18, 3)), N'g')
INSERT [dbo].[CongThuc] ([idSanPham], [idNguyenLieu], [luongCanThiet], [donViTinhSuDung]) VALUES (1, 3, CAST(10.000 AS Decimal(18, 3)), N'g')
INSERT [dbo].[CongThuc] ([idSanPham], [idNguyenLieu], [luongCanThiet], [donViTinhSuDung]) VALUES (2, 1, CAST(20.000 AS Decimal(18, 3)), N'g')
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([idHoaDon], [idKhachHang], [idNhanVien], [idBan], [idKhuyenMai], [thoiGianTao], [tongTien], [soTienGiam], [thanhTien], [trangThai], [thoiGianThanhToan], [phuongThucThanhToan]) VALUES (1, NULL, 2, 2, 2, CAST(N'2025-09-16T19:04:38.5433333' AS DateTime2), CAST(125000.00 AS Decimal(18, 2)), CAST(62500.00 AS Decimal(18, 2)), CAST(62500.00 AS Decimal(18, 2)), N'Đã thanh toán', NULL, NULL)
INSERT [dbo].[HoaDon] ([idHoaDon], [idKhachHang], [idNhanVien], [idBan], [idKhuyenMai], [thoiGianTao], [tongTien], [soTienGiam], [thanhTien], [trangThai], [thoiGianThanhToan], [phuongThucThanhToan]) VALUES (2, NULL, 3, 1, NULL, CAST(N'2025-09-16T17:34:38.5500000' AS DateTime2), CAST(55000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(55000.00 AS Decimal(18, 2)), N'Đã thanh toán', NULL, NULL)
INSERT [dbo].[HoaDon] ([idHoaDon], [idKhachHang], [idNhanVien], [idBan], [idKhuyenMai], [thoiGianTao], [tongTien], [soTienGiam], [thanhTien], [trangThai], [thoiGianThanhToan], [phuongThucThanhToan]) VALUES (3, NULL, 1, 1, 2, CAST(N'2025-09-17T03:21:54.2666667' AS DateTime2), CAST(110000.00 AS Decimal(18, 2)), CAST(55000.00 AS Decimal(18, 2)), CAST(55000.00 AS Decimal(18, 2)), N'Đã thanh toán', NULL, NULL)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([idKhachHang], [hoTen], [soDienThoai], [ngayTao]) VALUES (1, N'Nguyễn Văn An', N'0912345678', CAST(N'2025-09-16T19:34:38.5200000' AS DateTime2))
INSERT [dbo].[KhachHang] ([idKhachHang], [hoTen], [soDienThoai], [ngayTao]) VALUES (2, N'Trần Thị Bích', N'0988776655', CAST(N'2025-09-16T19:34:38.5200000' AS DateTime2))
INSERT [dbo].[KhachHang] ([idKhachHang], [hoTen], [soDienThoai], [ngayTao]) VALUES (3, N'Lê Minh Cường', N'0935123123', CAST(N'2025-09-16T19:34:38.5200000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([idKhuyenMai], [tenKhuyenMai], [moTa], [loaiGiamGia], [giaTriGiam], [ngayBatDau], [ngayKetThuc], [giaTriDonHangToiThieu], [idSanPhamApDung]) VALUES (1, N'Giảm 20k cho hóa đơn trên 100k', NULL, N'SoTien', CAST(20000.00 AS Decimal(18, 2)), CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-12-31T00:00:00.0000000' AS DateTime2), CAST(100000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[KhuyenMai] ([idKhuyenMai], [tenKhuyenMai], [moTa], [loaiGiamGia], [giaTriGiam], [ngayBatDau], [ngayKetThuc], [giaTriDonHangToiThieu], [idSanPhamApDung]) VALUES (2, N'Đi kèm Tiramisu giảm 50%', NULL, N'PhanTram', CAST(50.00 AS Decimal(18, 2)), CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-12-31T00:00:00.0000000' AS DateTime2), NULL, 5)
INSERT [dbo].[KhuyenMai] ([idKhuyenMai], [tenKhuyenMai], [moTa], [loaiGiamGia], [giaTriGiam], [ngayBatDau], [ngayKetThuc], [giaTriDonHangToiThieu], [idSanPhamApDung]) VALUES (3, N'giảm 20% cho đơn từ 200k', N'', N'PhanTram', CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-09-20T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-27T00:00:00.0000000' AS DateTime2), CAST(200000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[LichLamViec] ON 

INSERT [dbo].[LichLamViec] ([idLichLamViec], [idNhanVien], [idCa], [ngayLam], [gioBatDau], [gioKetThuc], [trangThai]) VALUES (1, 1, 1, CAST(N'2025-09-16' AS Date), CAST(N'07:00:00' AS Time), CAST(N'15:00:00' AS Time), N'Đi Làm')
INSERT [dbo].[LichLamViec] ([idLichLamViec], [idNhanVien], [idCa], [ngayLam], [gioBatDau], [gioKetThuc], [trangThai]) VALUES (2, 2, 2, CAST(N'2025-09-16' AS Date), CAST(N'15:00:00' AS Time), CAST(N'23:00:00' AS Time), N'Đi Làm')
INSERT [dbo].[LichLamViec] ([idLichLamViec], [idNhanVien], [idCa], [ngayLam], [gioBatDau], [gioKetThuc], [trangThai]) VALUES (3, 3, 2, CAST(N'2025-09-16' AS Date), CAST(N'15:00:00' AS Time), CAST(N'23:00:00' AS Time), N'Đi Làm')
SET IDENTITY_INSERT [dbo].[LichLamViec] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([idLoaiSP], [tenLoaiSP]) VALUES (1, N'Cà phê')
INSERT [dbo].[LoaiSanPham] ([idLoaiSP], [tenLoaiSP]) VALUES (2, N'Trà')
INSERT [dbo].[LoaiSanPham] ([idLoaiSP], [tenLoaiSP]) VALUES (3, N'Nước ép')
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[NguyenLieu] ON 

INSERT [dbo].[NguyenLieu] ([idNguyenLieu], [tenNguyenLieu], [donViTinh], [soLuongTon], [nguongCanhBao]) VALUES (1, N'Hạt cà phê Robusta', N'kg', CAST(28.360 AS Decimal(18, 3)), CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[NguyenLieu] ([idNguyenLieu], [tenNguyenLieu], [donViTinh], [soLuongTon], [nguongCanhBao]) VALUES (2, N'Sữa tươi không đường', N'lít', CAST(35.080 AS Decimal(18, 3)), CAST(5.00 AS Decimal(18, 2)))
INSERT [dbo].[NguyenLieu] ([idNguyenLieu], [tenNguyenLieu], [donViTinh], [soLuongTon], [nguongCanhBao]) VALUES (3, N'Đường cát trắng', N'kg', CAST(25.840 AS Decimal(18, 3)), CAST(10.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[NguyenLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([idNhaCungCap], [tenNhaCungCap], [soDienThoai], [diaChi]) VALUES (1, N'Nông sản Đà Lạt Xanh', N'0905111222', N'Lâm Đồng')
INSERT [dbo].[NhaCungCap] ([idNhaCungCap], [tenNhaCungCap], [soDienThoai], [diaChi]) VALUES (2, N'Thực phẩm An Toàn', N'0987654321', N'TP. Hồ Chí Minh')
INSERT [dbo].[NhaCungCap] ([idNhaCungCap], [tenNhaCungCap], [soDienThoai], [diaChi]) VALUES (3, N'Vua Cà Phê', N'0123456789', N'Đắk Lắk')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([idNhanVien], [idVaiTro], [hoTen], [soDienThoai], [email], [diaChi], [matKhau], [ngayVaoLam], [trangThai], [mucLuongTheoGio]) VALUES (1, 1, N'Lâm Toàn', N'0376512695', N'admin@email.com', NULL, N'123456', CAST(N'2024-01-15' AS Date), 1, CAST(30000.00 AS Decimal(18, 2)))
INSERT [dbo].[NhanVien] ([idNhanVien], [idVaiTro], [hoTen], [soDienThoai], [email], [diaChi], [matKhau], [ngayVaoLam], [trangThai], [mucLuongTheoGio]) VALUES (2, 2, N'Lâm Chu Bảo Toàn', N'0812847885', N'nhanvien@email.com', N'08 ha van tin', N'123456', CAST(N'2024-03-20' AS Date), 1, CAST(22000.00 AS Decimal(18, 2)))
INSERT [dbo].[NhanVien] ([idNhanVien], [idVaiTro], [hoTen], [soDienThoai], [email], [diaChi], [matKhau], [ngayVaoLam], [trangThai], [mucLuongTheoGio]) VALUES (3, 2, N'Phạm Văn Toàn', N'0905987654', N'toanpham@email.com', NULL, N'123', CAST(N'2025-08-01' AS Date), 1, CAST(20000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuDatBan] ON 

INSERT [dbo].[PhieuDatBan] ([idPhieuDatBan], [idKhachHang], [tenKhachVangLai], [sdtKhachVangLai], [idBan], [thoiGianDat], [soLuongKhach], [ghiChu], [trangThai]) VALUES (0, NULL, N'lâm toànd', N'0812847885', 1, CAST(N'2025-09-17T02:10:00.0000000' AS DateTime2), 4, N'heh', N'Đã đến')
INSERT [dbo].[PhieuDatBan] ([idPhieuDatBan], [idKhachHang], [tenKhachVangLai], [sdtKhachVangLai], [idBan], [thoiGianDat], [soLuongKhach], [ghiChu], [trangThai]) VALUES (1, NULL, N'fgdbz', N'0376512695', 4, CAST(N'2025-09-17T19:00:00.0000000' AS DateTime2), 6, N'ghdfdgf', N'Đã đặt')
INSERT [dbo].[PhieuDatBan] ([idPhieuDatBan], [idKhachHang], [tenKhachVangLai], [sdtKhachVangLai], [idBan], [thoiGianDat], [soLuongKhach], [ghiChu], [trangThai]) VALUES (2, NULL, N'LÂM', N'0376512695', 2, CAST(N'2025-09-18T08:00:00.0000000' AS DateTime2), 4, N'DFVFDVSZ', N'Đã đặt')
SET IDENTITY_INSERT [dbo].[PhieuDatBan] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuLuong] ON 

INSERT [dbo].[PhieuLuong] ([idPhieuLuong], [idNhanVien], [tuNgay], [denNgay], [tongGioLam], [luongCoBan], [tongThuong], [tongPhat], [thucLanh], [ngayTinhLuong]) VALUES (0, 1, CAST(N'2025-09-01' AS Date), CAST(N'2025-09-30' AS Date), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-09-16T22:34:55.0100000' AS DateTime2))
INSERT [dbo].[PhieuLuong] ([idPhieuLuong], [idNhanVien], [tuNgay], [denNgay], [tongGioLam], [luongCoBan], [tongThuong], [tongPhat], [thucLanh], [ngayTinhLuong]) VALUES (1, 1, CAST(N'2025-09-01' AS Date), CAST(N'2025-09-30' AS Date), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2025-09-16T22:42:13.0200000' AS DateTime2))
INSERT [dbo].[PhieuLuong] ([idPhieuLuong], [idNhanVien], [tuNgay], [denNgay], [tongGioLam], [luongCoBan], [tongThuong], [tongPhat], [thucLanh], [ngayTinhLuong]) VALUES (2, 2, CAST(N'2025-09-01' AS Date), CAST(N'2025-09-30' AS Date), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), CAST(-50000.00 AS Decimal(18, 2)), CAST(N'2025-09-16T23:37:10.3833333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PhieuLuong] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhapKho] ON 

INSERT [dbo].[PhieuNhapKho] ([idPhieuNhap], [idNhanVien], [idNhaCungCap], [ngayNhap], [tongTien]) VALUES (1, 1, 3, CAST(N'2025-09-17T00:00:00.0000000' AS DateTime2), CAST(7500000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuNhapKho] ([idPhieuNhap], [idNhanVien], [idNhaCungCap], [ngayNhap], [tongTien]) VALUES (2, 1, 2, CAST(N'2025-09-17T03:23:40.3366667' AS DateTime2), CAST(1250000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuNhapKho] ([idPhieuNhap], [idNhanVien], [idNhaCungCap], [ngayNhap], [tongTien]) VALUES (3, 1, 2, CAST(N'2025-09-17T03:24:19.1500000' AS DateTime2), CAST(200000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PhieuNhapKho] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuThueSach] ON 

INSERT [dbo].[PhieuThueSach] ([idPhieuThue], [idSach], [idKhachHang], [idNhanVien], [ngayThue], [ngayHenTra], [ngayTraThucTe], [tienPhat], [trangThai], [phiThue], [tienCoc]) VALUES (0, 2, 1, 1, CAST(N'2025-09-17T02:22:14.9666667' AS DateTime2), CAST(N'2025-09-24T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-17T02:28:38.5366667' AS DateTime2), CAST(0.00 AS Decimal(18, 2)), N'Đã trả', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuThueSach] ([idPhieuThue], [idSach], [idKhachHang], [idNhanVien], [ngayThue], [ngayHenTra], [ngayTraThucTe], [tienPhat], [trangThai], [phiThue], [tienCoc]) VALUES (1, 3, 1, 1, CAST(N'2025-09-17T02:23:12.7100000' AS DateTime2), CAST(N'2025-09-24T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-17T02:40:38.6566667' AS DateTime2), CAST(0.00 AS Decimal(18, 2)), N'Đã trả', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuThueSach] ([idPhieuThue], [idSach], [idKhachHang], [idNhanVien], [ngayThue], [ngayHenTra], [ngayTraThucTe], [tienPhat], [trangThai], [phiThue], [tienCoc]) VALUES (2, 4, 2, 1, CAST(N'2025-09-17T02:40:59.1133333' AS DateTime2), CAST(N'2025-09-24T00:00:00.0000000' AS DateTime2), CAST(N'2025-09-17T02:41:18.4866667' AS DateTime2), CAST(0.00 AS Decimal(18, 2)), N'Đã trả', CAST(10000.00 AS Decimal(18, 2)), CAST(100000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PhieuThueSach] OFF
GO
SET IDENTITY_INSERT [dbo].[QuyTacLuong] ON 

INSERT [dbo].[QuyTacLuong] ([idQuyTac], [tenQuyTac], [loai], [loaiQuyTac], [dieuKien], [giaTriApDung], [donViTinh], [dieuKienDonViTinh]) VALUES (8, N'Phạt đi trễ', N'Phat', N'LATE', CAST(15.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)), N'VND', N'Phút')
INSERT [dbo].[QuyTacLuong] ([idQuyTac], [tenQuyTac], [loai], [loaiQuyTac], [dieuKien], [giaTriApDung], [donViTinh], [dieuKienDonViTinh]) VALUES (10, N'Thưởng chuyên cần tháng', N'Thưởng', N'MONTHLY_HOURS', CAST(160.00 AS Decimal(18, 2)), CAST(300000.00 AS Decimal(18, 2)), N'VND', N'Giờ')
INSERT [dbo].[QuyTacLuong] ([idQuyTac], [tenQuyTac], [loai], [loaiQuyTac], [dieuKien], [giaTriApDung], [donViTinh], [dieuKienDonViTinh]) VALUES (14, N'thưởng tăng ca', N'Thuong', N'OVERTIME', CAST(25.00 AS Decimal(18, 2)), CAST(1.50 AS Decimal(18, 2)), N'Multiplier', N'Giờ')
SET IDENTITY_INSERT [dbo].[QuyTacLuong] OFF
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([idSach], [tieuDe], [tacGia], [theLoai], [moTa], [tongSoLuong], [soLuongCoSan], [viTri], [giaBia]) VALUES (1, N'Đắc Nhân Tâm', N'Dale Carnegie', N'Kỹ năng sống', NULL, 5, 4, N'Kệ A1', CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[Sach] ([idSach], [tieuDe], [tacGia], [theLoai], [moTa], [tongSoLuong], [soLuongCoSan], [viTri], [giaBia]) VALUES (2, N'Nhà Giả Kim', N'Paulo Coelho', N'Tiểu thuyết', NULL, 3, 2, N'Kệ A2', CAST(120000.00 AS Decimal(18, 2)))
INSERT [dbo].[Sach] ([idSach], [tieuDe], [tacGia], [theLoai], [moTa], [tongSoLuong], [soLuongCoSan], [viTri], [giaBia]) VALUES (3, N'Dế Mèn Phiêu Lưu Ký', N'Tô Hoài', N'Thiếu nhi', NULL, 10, 7, N'Kệ B1', CAST(80000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([idSanPham], [idLoaiSP], [tenSanPham], [moTa], [donGia], [hinhAnh], [trangThai]) VALUES (1, 1, N'Cà phê Đen đá', NULL, CAST(25000.00 AS Decimal(18, 2)), NULL, N'Đang bán')
INSERT [dbo].[SanPham] ([idSanPham], [idLoaiSP], [tenSanPham], [moTa], [donGia], [hinhAnh], [trangThai]) VALUES (2, 1, N'Cà phê Sữa', NULL, CAST(30000.00 AS Decimal(18, 2)), NULL, N'Đang bán')
INSERT [dbo].[SanPham] ([idSanPham], [idLoaiSP], [tenSanPham], [moTa], [donGia], [hinhAnh], [trangThai]) VALUES (3, 2, N'Trà Oolong', NULL, CAST(40000.00 AS Decimal(18, 2)), NULL, N'Đang bán')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongBao] ON 

INSERT [dbo].[ThongBao] ([idThongBao], [idNhanVien], [noiDung], [thoiGianTao], [daDoc]) VALUES (1, 2, N'[Bàn B1]: Bàn ngoài trời bị lung lay, cần sửa chữa.', CAST(N'2025-09-16T19:34:38.5400000' AS DateTime2), 1)
INSERT [dbo].[ThongBao] ([idThongBao], [idNhanVien], [noiDung], [thoiGianTao], [daDoc]) VALUES (2, 3, N'[Kho]: Sữa tươi sắp hết, cần nhập thêm.', CAST(N'2025-09-16T19:34:38.5400000' AS DateTime2), 1)
INSERT [dbo].[ThongBao] ([idThongBao], [idNhanVien], [noiDung], [thoiGianTao], [daDoc]) VALUES (3, 2, N'[Bàn A1]: ới', CAST(N'2025-09-17T00:10:57.0433333' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[ThongBao] OFF
GO
SET IDENTITY_INSERT [dbo].[VaiTro] ON 

INSERT [dbo].[VaiTro] ([idVaiTro], [tenVaiTro]) VALUES (1, N'Quản lý')
INSERT [dbo].[VaiTro] ([idVaiTro], [tenVaiTro]) VALUES (2, N'Nhân viên')
SET IDENTITY_INSERT [dbo].[VaiTro] OFF
GO
/****** Object:  Index [UQ__HoaDonDa__11606EC7D1C58788]    Script Date: 27/09/2025 2:16:28 CH ******/
ALTER TABLE [dbo].[HoaDonDauVao] ADD UNIQUE NONCLUSTERED 
(
	[idPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__06ACB9A23E404759]    Script Date: 27/09/2025 2:16:28 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[soDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__06ACB9A2B75D1937]    Script Date: 27/09/2025 2:16:28 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[soDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__AB6E6164DA8973AF]    Script Date: 27/09/2025 2:16:28 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [soTienGiam]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[LichLamViec] ADD  DEFAULT (N'Đi Làm') FOR [trangThai]
GO
ALTER TABLE [dbo].[NguyenLieu] ADD  DEFAULT ((0)) FOR [soLuongTon]
GO
ALTER TABLE [dbo].[NguyenLieu] ADD  DEFAULT ((5)) FOR [nguongCanhBao]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((20000)) FOR [mucLuongTheoGio]
GO
ALTER TABLE [dbo].[PhieuLuong] ADD  DEFAULT (getdate()) FOR [ngayTinhLuong]
GO
ALTER TABLE [dbo].[PhieuThueSach] ADD  DEFAULT ((0)) FOR [tienPhat]
GO
ALTER TABLE [dbo].[PhieuThueSach] ADD  DEFAULT ((0)) FOR [phiThue]
GO
ALTER TABLE [dbo].[PhieuThueSach] ADD  DEFAULT ((0)) FOR [tienCoc]
GO
ALTER TABLE [dbo].[QuyTacLuong] ADD  DEFAULT ('FLAT') FOR [loaiQuyTac]
GO
ALTER TABLE [dbo].[QuyTacLuong] ADD  DEFAULT ((0)) FOR [giaTriApDung]
GO
ALTER TABLE [dbo].[QuyTacLuong] ADD  DEFAULT ('VND') FOR [donViTinh]
GO
ALTER TABLE [dbo].[QuyTacLuong] ADD  DEFAULT (N'Phút') FOR [dieuKienDonViTinh]
GO
ALTER TABLE [dbo].[Sach] ADD  DEFAULT ((0)) FOR [giaBia]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [thoiGianTao]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT ((0)) FOR [daDoc]
GO
ALTER TABLE [dbo].[BangChamCong]  WITH CHECK ADD FOREIGN KEY([idLichLamViec])
REFERENCES [dbo].[LichLamViec] ([idLichLamViec])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaDon] ([idHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([idSanPham])
REFERENCES [dbo].[SanPham] ([idSanPham])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([idNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([idNguyenLieu])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([idPhieuNhap])
REFERENCES [dbo].[PhieuNhapKho] ([idPhieuNhap])
GO
ALTER TABLE [dbo].[ChiTietThuongPhat]  WITH CHECK ADD FOREIGN KEY([idQuyTac])
REFERENCES [dbo].[QuyTacLuong] ([idQuyTac])
GO
ALTER TABLE [dbo].[ChiTietThuongPhat]  WITH CHECK ADD FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[CongThuc]  WITH CHECK ADD FOREIGN KEY([idNguyenLieu])
REFERENCES [dbo].[NguyenLieu] ([idNguyenLieu])
GO
ALTER TABLE [dbo].[CongThuc]  WITH CHECK ADD FOREIGN KEY([idSanPham])
REFERENCES [dbo].[SanPham] ([idSanPham])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([idBan])
REFERENCES [dbo].[Ban] ([idBan])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([idKhachHang])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([idKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([idKhuyenMai])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[HoaDonDauVao]  WITH CHECK ADD FOREIGN KEY([idPhieuNhap])
REFERENCES [dbo].[PhieuNhapKho] ([idPhieuNhap])
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD FOREIGN KEY([idSanPhamApDung])
REFERENCES [dbo].[SanPham] ([idSanPham])
GO
ALTER TABLE [dbo].[LichLamViec]  WITH CHECK ADD FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[LichLamViec]  WITH CHECK ADD FOREIGN KEY([idCa])
REFERENCES [dbo].[CaLamViec] ([idCa])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([idVaiTro])
REFERENCES [dbo].[VaiTro] ([idVaiTro])
GO
ALTER TABLE [dbo].[PhieuDatBan]  WITH CHECK ADD FOREIGN KEY([idBan])
REFERENCES [dbo].[Ban] ([idBan])
GO
ALTER TABLE [dbo].[PhieuDatBan]  WITH CHECK ADD FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([idKhachHang])
GO
ALTER TABLE [dbo].[PhieuLuong]  WITH CHECK ADD FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[PhieuNhapKho]  WITH CHECK ADD FOREIGN KEY([idNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([idNhaCungCap])
GO
ALTER TABLE [dbo].[PhieuThueSach]  WITH CHECK ADD FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[KhachHang] ([idKhachHang])
GO
ALTER TABLE [dbo].[PhieuThueSach]  WITH CHECK ADD FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
ALTER TABLE [dbo].[PhieuThueSach]  WITH CHECK ADD FOREIGN KEY([idSach])
REFERENCES [dbo].[Sach] ([idSach])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([idLoaiSP])
REFERENCES [dbo].[LoaiSanPham] ([idLoaiSP])
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD FOREIGN KEY([idNhanVien])
REFERENCES [dbo].[NhanVien] ([idNhanVien])
GO
USE [master]
GO
